body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #ffec80;
    border-bottom: 5px solid #f8df54;
    display: flex;
    justify-content: center;
    font-style: italic;
}

header h1 {
    text-align: center;
}

header img {
    height: 100px;
}

#form-tarefa {
    background-color: #ffec80;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#lista-tarefas {
    justify-content: center;
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

#lista-tarefas li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

#lista-tarefas li:hover {
    background-color: #f1f1f1;
    border: 2px solid black;
}

button {
    font-style: bold;
    width: 100px;
    background-color: rgb(176, 248, 59);
    border: none;
    cursor: pointer;
}

footer {
    font-size: 12px;
    margin-top: 380px;
    background-color: rgb(253, 237, 237);
    color: rgb(75, 75, 75);
    padding: 8px 0;
    text-align: 80px;
}